<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<style type="text/css">
	body {
		background-color:#d4cbff;
	}
</style>
</head>
<body>
	<div class="container text-center">
		<h1> User Registration</h1>
	
		<form th:action="@{/process_register}" method="post"
		style="max-width: 600px; margin: 0 auto;"
		th:object="${user}"
		>
			<div class="m-3">
				<div class="form-group row">
				<label class="col-form-label col-4">E-mail</label>
					<div class="col-8">
						<input type="email" class="form-control" th:field="*{email}" required/>
					</div>
				</div>
				<div class="form-group row">
				<label class="col-form-label col-4">Password</label>
					<div class="col-8">
						<input type="password" class="form-control" th:field="*{password}" required
						minlength="6" maxlength="10"/>
					</div>
				</div>
				<div class="form-group row">
				<label class="col-form-label col-4">First name</label>
					<div class="col-8">
						<input type="text" class="form-control" th:field="*{firstName}" required
						minlength="2" maxlength="20"/>
					</div>
				</div>
				<div class="form-group row">
				<label class="col-form-label col-4">Last Name</label>
					<div class="col-8">
						<input type="text" class="form-control" th:field="*{lastName}" required
						minlength="2" maxlength="20"/>
					</div>
				</div>
					<div>
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</div>
						
				</div>
			</div>
		</form>
	</div>
</body>
</html>